@model IEnumerable<InmobiliariaSpartano.Models.Propietario>

@{
    ViewData["Title"] = "Propietarios";
}

<h1>Propietarios</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary"><i class="fas fa-plus-square"></i> Crear</a>
    <a asp-action="" class="btn btn-outline-primary"><i class="fas fa-filter"></i> Filtrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a asp-route-id="@item.Id" asp-controller="Propietario" asp-action="Details" class="btn btn-sm btn-outline-primary" title="Detalles">
                    <i class="fas fa-file-alt"></i>
                </a>
                <a asp-route-id="@item.Id" asp-controller="Propietario" asp-action="Delete" class="btn btn-sm btn-outline-primary" title="Eliminar">
                    <i class="fas fa-trash-alt"></i>
                </a>
                <a asp-route-id="@item.Id" asp-controller="Propietario" asp-action="Edit" class="btn btn-sm btn-outline-primary" title="Editar">
                    <i class="fas fa-edit"></i>
                </a>
                <a asp-route-id="@item.Id" asp-controller="Propietario" asp-action="Inmuebles" class="btn btn-sm btn-outline-primary" title="Inmuebles">
                    <i class="fas fa-home"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
