@model IEnumerable<InmobiliariaSpartano.Models.Inmueble>

@{
    ViewData["Title"] = "Inmuebles";
}

<h1>Inmuebles</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary"><i class="fas fa-plus-square"></i> Crear</a>
    <a asp-action="" class="btn btn-outline-primary disabled"><i class="fas fa-filter"></i> Filtrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponible)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    #@Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Uso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @(item.Disponible == 1 ? Html.Encode("Si") : Html.Encode("No"))
                </td>
                <td>
                    <a asp-route-id="@item.Id" asp-controller="Inmueble" asp-action="Details" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Detalles">
                        <i class="fas fa-file-alt"></i>
                    </a>
                    <a asp-route-id="@item.Id" asp-controller="Inmueble" asp-action="Edit" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Editar">
                        <i class="fas fa-edit"></i>
                    </a>
                    @if (item.Visible == 1)
                    {
                        <a onclick="$('#OcultarInmuebleId').val(@item.Id)" href="#modal-ocultar" data-toggle="modal" data-tooltip="tooltip" class="btn btn-sm btn-outline-primary" data-placement="top" title="Ocultar">
                            <i class="fas fa-eye-slash"></i>
                        </a>
                    }
                    else
                    {
                        <a onclick="$('#MostrarInmuebleId').val(@item.Id)" href="#modal-mostrar" data-toggle="modal" data-tooltip="tooltip" class="btn btn-sm btn-outline-primary" data-placement="top" title="Mostrar">
                            <i class="fas fa-eye"></i>
                        </a>
                    }
                    @if (User.IsInRole("Administrador") || User.IsInRole("SuperAdministrador"))
                    {
                        <a asp-route-id="@item.Id" asp-controller="Inmueble" asp-action="Delete" class="btn btn-sm btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Eliminar">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- MODAL OCULTAR -->
<div class="modal fade" id="modal-ocultar" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 text-center">Ocultar elemento</h5>
            </div>
            <form asp-action="Ocultar">
                <div class="modal-body text-center">
                    <p>¿Desea ocultar este Inmueble? <br /> Los inmuebles ocultos no pueden ser alquilados</p>
                    <input type="hidden" name="OcultarInmuebleId" id="OcultarInmuebleId" value="" />
                    <div class="col-12 text-right p-0">
                        <a href="#" data-dismiss="modal">Cancelar</a> | 
                        <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i> Confirmar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL MOSTRAR -->
<div class="modal fade" id="modal-mostrar" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="w-100 text-center">Mostrar elemento</h5>
            </div>
            <form asp-action="Mostrar">
                <div class="modal-body text-center">
                    <p>¿Desea mostrar este Inmueble? <br /> Pasará a estar visible y se podran crear contratos sobre él</p>
                    <input type="hidden" name="MostrarInmuebleId" id="MostrarInmuebleId" value="" />
                    <div class="col-12 text-right p-0">
                        <a href="#" data-dismiss="modal">Cancelar</a> |
                        <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i> Confirmar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>